    body,
    html {
        height: 100%;
        margin: 0;
    }
    
    .header {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: flex-end;
        margin: 0 10px;
    }
    
    img.header__logo {
        width: 200px;
        height: 100px;
        object-fit: cover;
    }
    
    .navbar {
        margin-bottom: 15px;
    }
    
    .navbar a {
        text-decoration: none;
        color: black;
        margin-right: 20px;
    }
    
    .login {
        margin-right: 30px;
    }
    
    hr {
        margin: 0;
    }
    
    //main
    main {
        min-height: 500px;
        width: 100%;
        background: cornsilk;
    }
    
    #main {
        background: url(../img/image_fond.jpg) no-repeat 50% 0% fixed;
        height: 500px;
        width: 100%;
        background-size: cover;
    }
    
    //footer
    .copyright.text-center {
        display: flex;
        justify-content: center;
        color: rgb(255, 17, 17);
        font-weight: bold;
        font-size: 20px;
    }
    
    //menu inscription et connexion 
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
    
    .card {
        width: 400px;
        background: white;
        border-radius: 16px;
        padding: 16px;
        box-sizing: border-box;
        margin-top: 20px;
    }
    
    .form-row {
        display: flex;
        margin: 16px 0px;
        gap: 16px;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .from-row p {
        font-size: 18px;
        font-weight: 500;
        display: flex;
        justify-content: center;
    }
    
    .form-row_input {
        padding: 8px;
        border: none;
        border-radius: 8px;
        background: #f2f2f2;
        font-weight: 500;
        font-size: 16px;
        flex: 1;
        min-width: 100px;
        color: black;
        width: 100%;
    }
    
    .form-row_label {
        padding: 8px;
        border: none;
        border-radius: 8px;
        font-size: 16px;
        color: black;
    }
    
    .btn {
        color: white;
        border-radius: 8px;
        font-weight: 600;
        font-size: 18px;
        border: none;
        width: 100%;
        padding: 10px;
        transition: .4s background-color;
    }
    
    button {
        border-radius: 8px;
    }
    
    ///post
    .form-row_text {
        padding: 8px;
        border: none;
        border-radius: 8px;
        background: #f2f2f2;
        font-weight: 500;
        font-size: 16px;
        flex: 1;
        min-width: 100px;
        color: black;
    }
    
    .btn-post {
        padding: 8px;
        border: none;
        border-radius: 8px;
        font-size: 16px;
        min-width: 100px;
        color: black;
        color: rgb(236, 136, 132);
    }
    
    @media screen and (max-width: 599px) and (min-width: 300px) {
        .header {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        .navbar {
            display: flex;
            justify-content: space-between;
            margin: 0 30px;
            width: 100%;
        }
        .card {
            width: 300px;
        }
    }