.header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-end;
    margin: 0 10px;
}

img.header__logo {
    width: 200px;
    height: 100px;
    object-fit: cover;
}

.navbar {
    margin-bottom: 15px;
}

.login {
    margin-right: 30px;
}

//main
main {
    background: url(../img/image_fond.jpg) no-repeat 50% 0% fixed;
    height: 500px;
    width: 100%;
    background-size: cover;
}

//footer
.copyright.text-center {
    display: flex;
    justify-content: center;
    color: rgb(255, 17, 17);
    font-weight: bold;
    font-size: 20px;
}

@media screen and (max-width: 599px) and (min-width: 300px) {
    .header {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .navbar {
        display: flex;
        justify-content: space-between;
        margin: 0 30px;
        width: 100%;
    }
}

//menu inscription et connexion 
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.card {
    width: 540px;
    background: white;
    border-radius: 16px;
    padding: 32px;
    box-sizing: border-box;
}

.from-row {
    display: flex;
    margin: 16px 0px;
    gap: 16px;
    flex-wrap: wrap;
    flex-direction: column;
}

.from-row p {
    font-size: 18px;
    font-weight: 500;
    display: flex;
    justify-content: center;
}

.form-row_input {
    padding: 8px;
    border: none;
    border-radius: 8px;
    background: #f2f2f2;
    font-weight: 500;
    font-size: 16px;
    flex: 1;
    min-width: 100px;
    color: black;
    width: 100%;
    margin-bottom: 20px;
}

.btn {
    color: white;
    border-radius: 8px;
    font-weight: 600;
    font-size: 18px;
    border: none;
    width: 100%;
    padding: 16px;
    transition: .4s background-color;
}